* {
  font-family:"exo 2", sans-serif
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
  
}

.ol {
  list-style-type: none;
  padding: 0px;
}

/* MULTISTEP stage form styling*/


@keyframes rotate {
  from {
    transform: rotate3d(0.5, -0.5, 0.5, 0deg);
  }
  to {
    transform: rotate3d(0.5, -0.5, 0.5, 35deg);
  }
} */

.current-form-1 .menu-item.item-1 > p {
  background-color: aquamarine;
  color: black; 
  border-color: rgb(64, 114, 121)
}
.current-form-1 .menu-item.item-1 {
 display: flex;
}

.current-form-2 .menu-item.item-2 > p {
  background-image: aqua;
  color: black; 
  border-color: rgb(64, 114, 121)
}
.current-form-2 .menu-item.item-2 {
 display: flex;
}

.current-form-3 .menu-item.item-3 > p {
  background-image: aqua;
  color: black; 
  border-color: rgb(64, 114, 121)
}
.current-form-3 .menu-item.item-2 {
 display: flex;

}

.multi-step-form {
display: flex;
background-color: rgb(252, 252, 252);
max-width:600px;
padding: 10px;
border-radius: 10px;
-webkit-box-shadow: 10px 10px 65px -19px rgba(0, 0, 0.2);
-moz-box-shadow: 6px 10px 65px -19px rgba(0, 0, 0 ,0.2);
box-shadow: 6px 10px 65px -19px rgba(0, 0, 0, 0.2);
}

.menu-left {
  background-image: aqua;
  border-radius: 10px;
  width: 200px;
  padding: 20px;
}

menu-item {
display: flex;
gap:10px

}

.menu-item > p {
  border-style: solid;
  border-color: white;
  color: white;
  height: 50px;
  border-radius: 10000px;
  display:flex;
  justify-content: center;
  align-items: center;

}

.menu-text > p {
  margin: 0px
}

.menu-step {
  font-size: small;
  color: red
}


.menu-name {
color: rgb(64, 114, 121);

}


.choice-box {
padding: 10px 20px;
display:none;
flex-direction: column;
justify-content: space-between
}

.choice-box > div > h1 {


}

.choice-box > div > p {


}

.input-fields {
  display: flex;
  flex-direction: space-between;

}

.text-input {
  display: flex;
  flex-direction: column;

}


.input-fields-plan > button{

}
.input-fields-plan > button > img{

}

.form-navigation {
  display: flex;
  justify-content: space-between;


}

.form-navigation > button {


}

.form-navigation > button:hover {
  border-color: rgb(56, 58, 53);
}

/*la stå inntil multi er ferdig*/


.underline {
 



}

/* CSS for navigation */

.header {
  position: relative;
  background-image: url('Assets/Images/header.jpg');
  background-size: cover; 
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-image {
  position: relative;
}

.header-image img {
  display: block;
  width: 100%;
  height: auto;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Optional: Adjust text color for better visibility */
  font-family: 'bebas-neue', sans-serif; /* Set font family */
}


.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5D5A5A;
  margin: 0;
}

.nav ul li {
  margin-right: 10px;
}

.nav ul li:last-child {
  margin-right: 0;
}



.nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
}


.nav {
  position: absolute; /* Position the navigation bar */
  top: 10px; /* Adjust the top position as needed */
  width: 100%; 
  z-index: 1;
  text-align: center; 
}

.header-text {
  text-align: center;
}
